- model_class = Reporting
- content_for :head do
  = "#{t '.title', default: model_class.model_name.human.pluralize.titleize} : #{@ooh_site.try(:name)}"
.page-header
  =# link_to t('.new', default: t("helpers.links.new")), new_reporting_path, class: 'btn btn-primary'

= simple_form_for(:search, url: reportings_path, wrapper: :inline_form, method: :GET, remote: true, html: { class: 'reporting' }) do |f|
  .form-group.string.col-sm-2
  = f.input :date, as: :string, input_html: { class: 'datepicker' }, wrapper_html: { class: 'col-sm-3'}, placeholder: 'Select Date'
  = f.input :campaign_id, collection: Campaign.all.collect{ |c| [c.name, c.id] }, wrapper_html: { class: 'col-sm-3'}, prompt: 'Select Campaign'
  = f.input :ooh_site_id, collection: OohSite.all.collect{ |c| ["#{c.name} (#{c.type.split('::')[1]}) ( #{c.code})", c.id] }, wrapper_html: { class: 'col-sm-3' }, prompt: 'Select OohSite', selected: params[:search][:ooh_site_id]
  = f.submit 'Fetch', class: 'btn btn-primary col-sm-1 pull-right'
.reporting-list
  = render 'index'
