- model_class = Campaign
- content_for :head do
  = "#{t '.title', default: model_class.model_name.human.titleize} : #{@campaign.name}"
.page-header
.pull-right
  = link_to t('.back', :default => t("helpers.links.back")), campaigns_path, :class => 'btn btn-default'
  = link_to t('.edit', :default => t("helpers.links.edit")),edit_campaign_path(@campaign), :class => 'btn btn-default'
  = link_to t('.destroy', :default => t("helpers.links.destroy")),campaign_path(@campaign), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },:class => 'btn btn-danger'
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @campaign.name
  %dt
    %strong
      = model_class.human_attribute_name(:starts_on)
      \:
  %dd= @campaign.starts_on
  %dt
    %strong
      = model_class.human_attribute_name(:ends_on)
      \:
  %dd= @campaign.ends_on
  %dt
    %strong
      = model_class.human_attribute_name(:image)
      \:
  %dd
    = image_tag @campaign.image.url, class: 'img-circle', width: 100, height: 100


.pad-all

  = form_tag( available_dates_campaign_path(@campaign), method: 'GET', remote: true, class: 'simple_form horizontal-form campaign-reporting display-grid') do
    .form-group
      .col-sm-3
        %label.control-label.select.required{:for => "campaign_reporting_ooh_site_id"}
          Ooh site
      .col-sm-6
        = select_tag 'campaign_reporting[ooh_site_id]', options_for_select(OohSite.all.collect { |d| ["#{d.name} - (#{d.code})", d.id] }), multiple: true, id: 'campaign_reporting_ooh_site_id', class: 'form-control select required', aria: { required: true }
      .col-sm-3
        = submit_tag 'Fetch', class: 'btn btn-primary'

.available_dates.pad-all

