!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ERP-ASX
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      %div
        .navbar-header
          %button.navbar-toggle{ type: :button, data: { target: '.navbar-collapse', toggle: :collapse } }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'ERP-ASX', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse.pull-left
          .navbar-brand
            = yield :head
        .navbar-collapse.collapse.pull-right
          %ul.nav.navbar-nav
            %li
              = link_to 'Clients', clients_path
            %li
              = link_to 'Campaigns', campaigns_path
            %li
              = link_to 'Ooh Sites', ooh_sites_path
            %li
              = link_to 'Reporting', reportings_path
    .container.mar-top-6em
      = yield
